<html>
    <head>
        <title>
            Enter Email to receive invite
        </title>
	    
	
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <center>
		 <br/>
            	<img src='http://wiki.teamliquid.net/commons/images/thumb/8/89/C9.png/600px-C9.png' style='width:300px'>
		  <br/>
		<br/>
            <form action="/sendinvite/" method="POST">
                {% csrf_token %}
                <input type="text" placeholder="insert your email" name="email" style="width:70%;height:40px;font-size:26px;">
                <br/>
                <br/>
                <button type="submit" class="btn btn-info" style="width:40%;height:40px;font-size:20px background-color:#0A7CC2" >Get an invite!</button>
            </form>
        </center>
    </body>
</html>
